<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1094276628049-6rgfrb26c003n7vq37nb46n2r46vq29e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1094276628049-6rgfrb26c003n7vq37nb46n2r46vq29e</string>
	<key>API_KEY</key>
	<string>AIzaSyBTWbntmjQ4akM5yyOAJBDdxjj_vr6V-T4</string>
	<key>GCM_SENDER_ID</key>
	<string>1094276628049</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ladeezfirstmedia.mandalame</string>
	<key>PROJECT_ID</key>
	<string>mandala-me</string>
	<key>STORAGE_BUCKET</key>
	<string>mandala-me.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1094276628049:ios:d2d9cdeae1b1fd62</string>
	<key>DATABASE_URL</key>
	<string>https://mandala-me.firebaseio.com</string>
</dict>
</plist>